* {
  background-color: #fca6a6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cake {
  width: 200px;
  height: auto;
}

.brownies {
  width: 200px;
  height: auto;
}

.pizza {
  width: 300px;
  height: auto;
}

li {
  padding: 5px;
}

p {
  line-height: 1.4;
}

h3 {
  padding-left: 22px;
}
